<div class="row propetydiv">
    <div class="col-sm-3" *ngFor="let prop of propertylist.$values" (click)="onpropclick(prop.id)" zoomin>
        <div>
            <ng-container *ngIf="prop.propertImages.$values.length>0; else dimage">
                <img [src]="prop.propertImages.$values[0].image">
            </ng-container>
            <ng-template #dimage>
                <img src="assets/Images/house.jpg"/>  
            </ng-template>
               
                <h1>{{prop.name}}</h1>
        </div>
        <div>
            <span>name:{{prop.name}}</span>
            <span>price:{{prop.price}}</span>
        </div>
    </div>


</div>